/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/pointing.h>

/ {
        behaviors {
          tp: tap_preferred {
            compatible = "zmk,behavior-hold-tap";
            label = "TAP_PREFERRED";
            #binding-cells = <2>;
            tapping-term-ms = <280>;
            flavor = "hold-preferred";
            bindings = <&kp>, <&kp>;
          };

          hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
          };

          lt_rev: layer_tap_reversed {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_REVERSED";
            #binding-cells = <2>;
            tapping-term-ms = <280>;
            flavor = "hold-preferred";
            bindings = <&kp>, <&to>;  // hold=key, tap=toggle to layer
          };

          td_base: tap_dance_base {
            compatible = "zmk,behavior-hold-tap";
            label = "TAP_TO_BASE";
            #binding-cells = <2>;
            tapping-term-ms = <280>;
            flavor = "hold-preferred";
            bindings = <&mo>, <&to>;  // hold=mo layer, tap=to layer
          };

          // Hold-tap for language switching: hold=layer, tap=language switch macro
          // #binding-cells must be 2 for hold-tap. Usage: &lt_ru 1 0 (second param ignored)
          lt_ru: layer_tap_russian {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_RUSSIAN";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
            bindings = <&mo>, <&to_ru>;  // hold=mo(param1), tap=to_ru(param2 ignored)
          };

          ht_en: hold_tap_english {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAP_ENGLISH";
            #binding-cells = <2>;
            tapping-term-ms = <280>;
            flavor = "hold-preferred";
            bindings = <&kp>, <&to_en>;  // hold=kp(param1), tap=to_en(param2 ignored)
          };

          // For Russian layer left thumb: hold=L6 with EN/RU switch, tap=switch to English (base)
          td_en: tap_dance_english {
            compatible = "zmk,behavior-hold-tap";
            label = "TAP_TO_ENGLISH";
            #binding-cells = <2>;
            tapping-term-ms = <280>;
            flavor = "hold-preferred";
            bindings = <&en_l6>, <&to_en>;  // hold=L6 with EN switch, tap=to_en (base)
          };

          // For Russian layer top-right: hold=L1 with English OS, tap=switch to English
          lt_ru_l1: layer_tap_russian_l1 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_RU_L1";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
            bindings = <&en_l1>, <&to_en>;  // hold=en_l1(param ignored), tap=to_en (switch to English)
          };

          // For Russian layer TAB: hold=L6 with EN/RU switch, tap=TAB
          lt_tab_l6: layer_tap_tab_l6 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TAB_L6";
            #binding-cells = <2>;
            tapping-term-ms = <280>;
            flavor = "hold-preferred";
            bindings = <&en_l6>, <&kp>;  // hold=L6 with EN switch, tap=kp(param)
          };
        };

        macros {
          ws1: workspace_1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LGUI>
                     , <&macro_tap &kp N1>
                     , <&macro_release &kp LGUI>;
          };
          ws2: workspace_2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LGUI>
                     , <&macro_tap &kp N2>
                     , <&macro_release &kp LGUI>;
          };
          ws3: workspace_3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LGUI>
                     , <&macro_tap &kp N3>
                     , <&macro_release &kp LGUI>;
          };
          ws4: workspace_4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LGUI>
                     , <&macro_tap &kp N4>
                     , <&macro_release &kp LGUI>;
          };
          ws5: workspace_5 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LGUI>
                     , <&macro_tap &kp N5>
                     , <&macro_release &kp LGUI>;
          };
          ws6: workspace_6 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LGUI>
                     , <&macro_tap &kp N6>
                     , <&macro_release &kp LGUI>;
          };
          ws7: workspace_7 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LGUI>
                     , <&macro_tap &kp N7>
                     , <&macro_release &kp LGUI>;
          };
          ws8: workspace_8 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LGUI>
                     , <&macro_tap &kp N8>
                     , <&macro_release &kp LGUI>;
          };
          ws9: workspace_9 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LGUI>
                     , <&macro_tap &kp N9>
                     , <&macro_release &kp LGUI>;
          };
          ws0: workspace_0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LGUI>
                     , <&macro_tap &kp N0>
                     , <&macro_release &kp LGUI>;
          };

          // Language switching macros - send combo to OS + switch layer
          // Parameterized version (ignores param) for use with hold-tap
          to_ru: switch_to_russian {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings = <&macro_tap &kp LA(LSHFT)>  // Alt+Shift -> OS switches to Russian
                     , <&to 5>;                     // Switch keyboard to L5
          };

          to_en: switch_to_english {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings = <&macro_tap &kp LC(LSHFT)>  // Ctrl+Shift -> OS switches to English
                     , <&to 0>;                     // Switch keyboard to L0
          };

          // Access L1 (symbols) from Russian layer - switches OS to English temporarily
          // Parameterized version (ignores param) for use with hold-tap
          en_l1: english_layer1 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings = <&macro_tap &kp LC(LSHFT)>      // Switch OS to English
                     , <&macro_press &mo 1>            // Activate L1
                     , <&macro_pause_for_release>      // Wait for key release
                     , <&macro_release &mo 1>          // Deactivate L1
                     , <&macro_tap &kp LA(LSHFT)>;     // Switch OS back to Russian
          };

          // Access L6 (extra Russian letters) from Russian layer - switches OS to English temporarily
          en_l6: english_layer6 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings = <&macro_tap &kp LC(LSHFT)>      // Switch OS to English
                     , <&macro_press &mo 6>            // Activate L6
                     , <&macro_pause_for_release>      // Wait for key release
                     , <&macro_release &mo 6>          // Deactivate L6
                     , <&macro_tap &kp LA(LSHFT)>;     // Switch OS back to Russian
          };

          // Punctuation macros for Russian layer - switch to EN, send key, switch back to RU
          ru_comma: russian_comma {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings = <&macro_tap &kp LC(LSHFT)>  // Switch to English
                     , <&macro_tap &kp COMMA>       // Send comma
                     , <&macro_tap &kp LA(LSHFT)>; // Switch back to Russian
          };

          ru_dot: russian_dot {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings = <&macro_tap &kp LC(LSHFT)>
                     , <&macro_tap &kp DOT>
                     , <&macro_tap &kp LA(LSHFT)>;
          };

          ru_fslh: russian_fslh {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings = <&macro_tap &kp LC(LSHFT)>
                     , <&macro_tap &kp FSLH>
                     , <&macro_tap &kp LA(LSHFT)>;
          };

          ru_semi: russian_semi {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings = <&macro_tap &kp LC(LSHFT)>
                     , <&macro_tap &kp SEMI>
                     , <&macro_tap &kp LA(LSHFT)>;
          };
        };

        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// | TAB  |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U  |  I  |  O  |  P  | RU/L1 |
// | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J  |  K  |  L  |  ;  | '/ALT |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M  |  ,  |  .  |  /  | SHFT  |
//                    |NPAD | BASE| RET |   | ESC | SPC |L2/WS|
//                    | /WS | /L1 |/SUP |   |/SUP |     |     |
                        bindings = <
   &kp TAB   &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U &kp I     &kp O   &kp P    &lt_ru 1 0
   &kp LCTRL &kp A &kp S &kp D &kp F &kp G   &kp H &kp J &kp K     &kp L   &kp SEMI &mt LALT SQT
   &kp LSHFT &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M &kp COMMA &kp DOT &kp FSLH &kp RSHFT
               &td_base 3 4 &td_base 1 0 &mt LGUI RET   &mt LGUI ESC &kp SPACE &td_base 3 2
                        >;
                };

                layer_below {
// -----------------------------------------------------------------------------------------
// |      |  !  |  @  |  #  |  $  |    %     |   |  ^  |  &  |  *  |  (  |  )  |   \   |
// |      |  1  |  2  |  3  |  4  |    5     |   |  -  |  =  |  `  |  [  |  ]  |  "|"  |
// | SHFT |  6  |  7  |  8  |  9  |    0     |   |  _  |  +  |  ~  |  {  |  }  | RSHFT |
//                     | GUI |     | ALT/ENT |   | HYPER/SPACE | BKSP |    |
                        bindings = <
   &trans    &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT   &kp CARET  &kp AMPS  &kp KP_MULTIPLY &kp LPAR &kp RPAR &kp BSLH
   &trans    &kp N1   &kp N2 &kp N3   &kp N4   &kp N5      &kp MINUS  &kp EQUAL &kp GRAVE       &kp LBKT &kp RBKT &kp PIPE
   &kp LSHFT &kp N6   &kp N7 &kp N8   &kp N9   &kp N0      &kp UNDER  &kp PLUS  &kp TILDE       &kp LBRC &kp RBRC &kp RSHFT
                         &kp LGUI &trans  &tp LALT RET     &tp LC(LS(LA(LGUI))) SPACE &kp BSPC  &trans
                        >;
                };

                layer_above {
// -----------------------------------------------------------------------------------------
// |       |  F1  |  F2  |  F3  |  F4  |  F5 |            |  F6  |  F7  |  F8  |  F9  |  F10  | STUDIO |
// |       | Prev | Next | Vol - | Vol + | Play/Pause |   |      | LFT | DWN |  UP | RGT |     |     |
// | BTCLR | BT1 | BT2 | BT3 | BT4 | BT5 |   |            |     |     |     |     |     |     |
//                    |     |     |    |                  |     |     |     |
                        bindings = <
   &trans     &kp F1        &kp F2       &kp F3       &kp F4       &kp F5          &kp F6   &kp F7   &kp F8 &kp F9    &kp F10 &kp F11
   &trans     &kp C_PREV    &kp C_NEXT   &kp C_VOL_DN &kp C_VOL_UP &kp C_PP        &kp LEFT &kp DOWN &kp UP &kp RIGHT &trans &trans
   &bt BT_CLR &bt BT_SEL 0  &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4    &trans   &trans   &trans &trans    &trans &trans
                          	                        &trans   &trans   &trans       &trans   &trans   &trans
                        >;
                };

                workspace_layer {
// -----------------------------------------------------------------------------------------
// |CPWRD|  1   |  2   |  3   |  4   |  5   |   |  6   |  7   |  8   |  9   |  0   |PRINT|
// |     |      |      | SHFT |  F   |      |   | PgUp | Home |  UP  | End  |   ;  | RET |
// |     |      |      |      |      |      |   | PgDn | LEFT | DOWN | RGHT |      |     |
//                     | GUI  | LWR  | ALT  |   | INS  | DEL  | RSE  |
                        bindings = <
   &caps_word &kp N1 &kp N2 &kp N3 &kp N4 &kp N5    &kp N6   &kp N7   &kp N8   &kp N9  &kp N0 &kp PSCRN
   &trans &trans &trans &kp LSHFT &trans &trans    &kp PG_UP &kp HOME &kp UP   &kp END  &trans &kp RET
   &trans &trans &trans &trans &trans &trans    &kp PG_DN &kp LEFT &kp DOWN &kp RIGHT &trans &trans
                        &trans &trans &trans    &kp INS   &kp DEL   &trans
                        >;
                };

                numpad_layer {
// -----------------------------------------------------------------------------------------
// |LCLK |     |     |  UP |     |     |   |  /  |  7  |  8  |  9  |  -  |     |
// |RCLK |     | LFT | DWN | RGT |     |   |  *  |  4  |  5  |  6  |  +  | RET |
// |     |     |     |     |     |     |   |  0  |  1  |  2  |  3  |  .  |     |
//                   | SPC |     |  H  |   |     |     |     |
                        bindings = <
   &mkp LCLK &trans &trans &kp UP &trans &trans    &kp FSLH &kp N7 &kp N8   &kp N9 &kp MINUS &trans
   &mkp RCLK &trans &kp LEFT &kp DOWN &kp RIGHT &trans    &kp STAR &kp N4 &kp N5   &kp N6 &kp PLUS  &kp RET
   &kp LGUI &trans &trans &trans &trans &trans    &kp N0   &kp N1 &kp N2   &kp N3 &kp DOT   &trans
                        &kp SPACE &trans &kp H    &trans   &trans &trans
                        >;
                };

                russian_layer {
// -----------------------------------------------------------------------------------------
// Russian ЙЦУКЕН - punctuation uses macros to switch OS temporarily
// |TAB/L6|  Й  |  Ц  |  У  |  К  |  Е  |   |  Н  |  Г  |  Ш  |  Щ  |  З  |L1(EN) |
// |CTRL  |  Ф  |  Ы  |  В  |  А  |  П  |   |  Р  |  О  |  Л  |  Д  |  ;  | '/ALT |
// |SHFT  |  Я  |  Ч  |  С  |  М  |  И  |   |  Т  |  Ь  |  ,  |  .  |  /  | SHFT  |
//                    | WS  |EN/L6| RET |   | ESC | SPC |L2/WS|
                        bindings = <
   &lt 6 TAB &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp P    &lt_ru_l1 0 0
   &kp LCTRL &kp A &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K     &kp L   &ru_semi &mt LALT SQT
   &kp LSHFT &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M  &ru_comma &ru_dot &ru_fslh &kp RSHFT
                   &td_base 3 4 &td_base 6 0 &mt LGUI RET   &mt LGUI ESC &kp SPACE &td_base 3 2
                        >;
                };

                russian_extra_layer {
// -----------------------------------------------------------------------------------------
// Extra Russian letters: Ж Э Б Ю Х Ъ Ё (on punctuation positions)
// |     |     |     |     |     |  Ё  |   |     |     |     |     |  Х  |     |
// |     |     |     |     |     |     |   |     |     |     |     |  Ж  |  Э  |
// |     |     |     |     |     |     |   |     |  Ъ  |  Б  |  Ю  |     |     |
//                   |     | BASE|     |   |     |     |     |
                        bindings = <
   &trans &trans &trans &trans &trans &kp GRAVE    &trans &trans &trans &trans &kp LBKT &trans
   &trans &trans &trans &trans &trans &trans       &trans &trans &trans &trans &kp SEMI &kp SQT
   &trans &trans &trans &trans &trans &trans       &trans &kp RBKT &kp COMMA &kp DOT &trans &trans
                        &trans &to 0 &trans    &trans &trans &trans
                        >;
                };
        };

};
