/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/pointing.h>

/ {
        behaviors {
          tp: tap_preferred {
            compatible = "zmk,behavior-hold-tap";
            label = "TAP_PREFERRED";
            #binding-cells = <2>;
            tapping-term-ms = <280>;
            flavor = "hold-preferred";
            bindings = <&kp>, <&kp>;
          };

          hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
          };

          lt_rev: layer_tap_reversed {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_REVERSED";
            #binding-cells = <2>;
            tapping-term-ms = <280>;
            flavor = "hold-preferred";
            bindings = <&kp>, <&to>;  // hold=key, tap=toggle to layer
          };

          td_base: tap_dance_base {
            compatible = "zmk,behavior-hold-tap";
            label = "TAP_TO_BASE";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
            bindings = <&mo>, <&to>;  // hold=mo layer, tap=to layer
          };

          // For Russian layer: hold=L4 with EN/RU switch, tap=switch to English
          ht_l4_en: hold_l4_tap_english {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_L4_TAP_EN";
            #binding-cells = <2>;
            tapping-term-ms = <300>;
            flavor = "hold-preferred";
            bindings = <&mo_en_ru>, <&to_en>;  // hold=mo_en_ru(L4 with lang switch), tap=to_en
          };

          // For Russian layer thumbs: hold=GUI with EN/RU switch, tap=key
          ht_gui_en: hold_gui_en_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_GUI_EN_TAP";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "hold-preferred";
            bindings = <&gui_en_ru_param>, <&kp>;
          };

          // Hold=Workspace layer, Tap=Sticky Hyper
          ht_ws_hyper: hold_ws_tap_hyper {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_WS_TAP_HYPER";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
            bindings = <&mo>, <&sk>;
          };

          // Hold=GUI, Tap=Toggle language (for workspace layer)
          ht_gui_toggle: hold_gui_tap_toggle {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_GUI_TAP_TOGGLE";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
            bindings = <&kp>, <&toggle_lang>;
          };

          // Hold=home_mod layer, Tap=to layer (for outer thumbs)
          ht_hm_to: hold_homemod_tap_to {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_HOMEMOD_TAP_TO";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
            bindings = <&mo>, <&to>;
          };

          // Hold=home_mod layer, Tap=sticky key (for right outer thumb)
          ht_hm_sk: hold_homemod_tap_sk {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_HOMEMOD_TAP_SK";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
            bindings = <&mo>, <&sk>;
          };

          // Mod-morph for Russian punctuation: normal or shifted
          mm_comma: mod_morph_comma {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_COMMA";
            #binding-cells = <0>;
            bindings = <&en_comma>, <&en_comma_shifted>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
          };

          mm_dot: mod_morph_dot {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_DOT";
            #binding-cells = <0>;
            bindings = <&en_dot>, <&en_dot_shifted>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
          };

          mm_fslh: mod_morph_fslh {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_FSLH";
            #binding-cells = <0>;
            bindings = <&en_fslh>, <&en_fslh_shifted>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
          };

          mm_semi: mod_morph_semi {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_SEMI";
            #binding-cells = <0>;
            bindings = <&en_semi>, <&en_semi_shifted>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
          };

          mm_sqt: mod_morph_sqt {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_SQT";
            #binding-cells = <0>;
            bindings = <&en_sqt>, <&en_sqt_shifted>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
          };

          // Hold=ALT, Tap=mod-morph SQT (for Russian layer)
          ht_alt_sqt: hold_alt_tap_sqt {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_ALT_TAP_SQT";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
            bindings = <&kp>, <&mm_sqt>;
          };

        };

        macros {
          ws1: workspace_1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LGUI>
                     , <&macro_tap &kp N1>
                     , <&macro_release &kp LGUI>;
          };
          ws2: workspace_2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LGUI>
                     , <&macro_tap &kp N2>
                     , <&macro_release &kp LGUI>;
          };
          ws3: workspace_3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LGUI>
                     , <&macro_tap &kp N3>
                     , <&macro_release &kp LGUI>;
          };
          ws4: workspace_4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LGUI>
                     , <&macro_tap &kp N4>
                     , <&macro_release &kp LGUI>;
          };
          ws5: workspace_5 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LGUI>
                     , <&macro_tap &kp N5>
                     , <&macro_release &kp LGUI>;
          };
          ws6: workspace_6 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LGUI>
                     , <&macro_tap &kp N6>
                     , <&macro_release &kp LGUI>;
          };
          ws7: workspace_7 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LGUI>
                     , <&macro_tap &kp N7>
                     , <&macro_release &kp LGUI>;
          };
          ws8: workspace_8 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LGUI>
                     , <&macro_tap &kp N8>
                     , <&macro_release &kp LGUI>;
          };
          ws9: workspace_9 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LGUI>
                     , <&macro_tap &kp N9>
                     , <&macro_release &kp LGUI>;
          };
          ws0: workspace_0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LGUI>
                     , <&macro_tap &kp N0>
                     , <&macro_release &kp LGUI>;
          };

          // Combined language + layer switching macros
          // Switch OS language AND keyboard layer together
          to_ru: switch_to_russian {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings
              = <&to 1>
              , <&macro_press &kp LALT>
              , <&macro_tap &kp LSHFT>
              , <&macro_release &kp LALT>
              ;
          };

          to_en: switch_to_english {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings
              = <&to 0>
              , <&macro_press &kp LCTRL>
              , <&macro_tap &kp LSHFT>
              , <&macro_release &kp LCTRL>
              ;
          };

          // Momentary layer with OS language switch (for hold on Russian layer)
          // On press: switch OS to English, activate layer
          // On release: deactivate layer, switch OS back to Russian
          mo_en_ru: momentary_english_russian {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings
              = <&macro_press &kp LCTRL>
              , <&macro_tap &kp LSHFT>
              , <&macro_release &kp LCTRL>
              , <&macro_param_1to1>
              , <&macro_press &mo MACRO_PLACEHOLDER>
              , <&macro_pause_for_release>
              , <&macro_param_1to1>
              , <&macro_release &mo MACRO_PLACEHOLDER>
              , <&macro_press &kp LALT>
              , <&macro_tap &kp LSHFT>
              , <&macro_release &kp LALT>
              ;
          };

          // English punctuation macros for Russian layer - switch to EN, send key, switch back to RU
          // Using same pattern as to_ru/to_en which work
          en_comma: english_comma {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings
              = <&macro_press &kp LCTRL>
              , <&macro_tap &kp LSHFT>
              , <&macro_release &kp LCTRL>
              , <&macro_tap &kp COMMA>
              , <&macro_press &kp LALT>
              , <&macro_tap &kp LSHFT>
              , <&macro_release &kp LALT>
              ;
          };

          en_dot: english_dot {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings
              = <&macro_press &kp LCTRL>
              , <&macro_tap &kp LSHFT>
              , <&macro_release &kp LCTRL>
              , <&macro_tap &kp DOT>
              , <&macro_press &kp LALT>
              , <&macro_tap &kp LSHFT>
              , <&macro_release &kp LALT>
              ;
          };

          en_fslh: english_fslh {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings
              = <&macro_press &kp LCTRL>
              , <&macro_tap &kp LSHFT>
              , <&macro_release &kp LCTRL>
              , <&macro_tap &kp FSLH>
              , <&macro_press &kp LALT>
              , <&macro_tap &kp LSHFT>
              , <&macro_release &kp LALT>
              ;
          };

          en_semi: english_semi {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings
              = <&macro_press &kp LCTRL>
              , <&macro_tap &kp LSHFT>
              , <&macro_release &kp LCTRL>
              , <&macro_tap &kp SEMI>
              , <&macro_press &kp LALT>
              , <&macro_tap &kp LSHFT>
              , <&macro_release &kp LALT>
              ;
          };

          // Shifted punctuation macros for Russian layer (< > ? :)
          en_comma_shifted: english_comma_shifted { // <
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings
              = <&macro_press &kp LCTRL>
              , <&macro_tap &kp LSHFT>
              , <&macro_release &kp LCTRL>
              , <&macro_tap &kp LS(COMMA)>
              , <&macro_press &kp LALT>
              , <&macro_tap &kp LSHFT>
              , <&macro_release &kp LALT>
              ;
          };

          en_dot_shifted: english_dot_shifted { // >
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings
              = <&macro_press &kp LCTRL>
              , <&macro_tap &kp LSHFT>
              , <&macro_release &kp LCTRL>
              , <&macro_tap &kp LS(DOT)>
              , <&macro_press &kp LALT>
              , <&macro_tap &kp LSHFT>
              , <&macro_release &kp LALT>
              ;
          };

          en_fslh_shifted: english_fslh_shifted { // ?
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings
              = <&macro_press &kp LCTRL>
              , <&macro_tap &kp LSHFT>
              , <&macro_release &kp LCTRL>
              , <&macro_tap &kp LS(FSLH)>
              , <&macro_press &kp LALT>
              , <&macro_tap &kp LSHFT>
              , <&macro_release &kp LALT>
              ;
          };

          en_semi_shifted: english_semi_shifted { // :
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings
              = <&macro_press &kp LCTRL>
              , <&macro_tap &kp LSHFT>
              , <&macro_release &kp LCTRL>
              , <&macro_tap &kp LS(SEMI)>
              , <&macro_press &kp LALT>
              , <&macro_tap &kp LSHFT>
              , <&macro_release &kp LALT>
              ;
          };

          en_sqt: english_sqt { // '
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings
              = <&macro_press &kp LCTRL>
              , <&macro_tap &kp LSHFT>
              , <&macro_release &kp LCTRL>
              , <&macro_tap &kp SQT>
              , <&macro_press &kp LALT>
              , <&macro_tap &kp LSHFT>
              , <&macro_release &kp LALT>
              ;
          };

          en_sqt_shifted: english_sqt_shifted { // "
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings
              = <&macro_press &kp LCTRL>
              , <&macro_tap &kp LSHFT>
              , <&macro_release &kp LCTRL>
              , <&macro_tap &kp LS(SQT)>
              , <&macro_press &kp LALT>
              , <&macro_tap &kp LSHFT>
              , <&macro_release &kp LALT>
              ;
          };

          // Unicode macros (Ctrl+Shift+U + hex + Space) for Linux
          // Math symbols for numpad layer
          uc_pm: unicode_plusminus { // ±
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings = <&macro_tap &kp LC(LS(U)) &kp N0 &kp N0 &kp B &kp N1 &kp SPACE>;
          };
          uc_approx: unicode_approx { // ≈
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings = <&macro_tap &kp LC(LS(U)) &kp N2 &kp N2 &kp N4 &kp N8 &kp SPACE>;
          };
          uc_neq: unicode_notequal { // ≠
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings = <&macro_tap &kp LC(LS(U)) &kp N2 &kp N2 &kp N6 &kp N0 &kp SPACE>;
          };
          uc_inf: unicode_infinity { // ∞
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings = <&macro_tap &kp LC(LS(U)) &kp N2 &kp N2 &kp N1 &kp E &kp SPACE>;
          };
          uc_leq: unicode_lessequal { // ≤
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings = <&macro_tap &kp LC(LS(U)) &kp N2 &kp N2 &kp N6 &kp N4 &kp SPACE>;
          };
          uc_geq: unicode_greaterequal { // ≥
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings = <&macro_tap &kp LC(LS(U)) &kp N2 &kp N2 &kp N6 &kp N5 &kp SPACE>;
          };
          uc_mul: unicode_multiply { // ×
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings = <&macro_tap &kp LC(LS(U)) &kp N0 &kp N0 &kp D &kp N7 &kp SPACE>;
          };
          uc_div: unicode_divide { // ÷
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings = <&macro_tap &kp LC(LS(U)) &kp N0 &kp N0 &kp F &kp N7 &kp SPACE>;
          };
          uc_sub1: unicode_subscript1 { // ₁
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings = <&macro_tap &kp LC(LS(U)) &kp N2 &kp N0 &kp N8 &kp N1 &kp SPACE>;
          };
          uc_sup2: unicode_superscript2 { // ²
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings = <&macro_tap &kp LC(LS(U)) &kp N0 &kp N0 &kp B &kp N2 &kp SPACE>;
          };
          uc_sup3: unicode_superscript3 { // ³
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings = <&macro_tap &kp LC(LS(U)) &kp N0 &kp N0 &kp B &kp N3 &kp SPACE>;
          };
          uc_sqrt: unicode_squareroot { // √
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings = <&macro_tap &kp LC(LS(U)) &kp N2 &kp N2 &kp N1 &kp A &kp SPACE>;
          };
          uc_sum: unicode_sum { // ∑
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings = <&macro_tap &kp LC(LS(U)) &kp N2 &kp N2 &kp N1 &kp N1 &kp SPACE>;
          };
          uc_empty: unicode_emptyset { // ∅
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings = <&macro_tap &kp LC(LS(U)) &kp N2 &kp N2 &kp N0 &kp N5 &kp SPACE>;
          };
          uc_elem: unicode_elementof { // ∈
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings = <&macro_tap &kp LC(LS(U)) &kp N2 &kp N2 &kp N0 &kp N8 &kp SPACE>;
          };

          // Currency symbols for symbols layer
          uc_euro: unicode_euro { // €
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings = <&macro_tap &kp LC(LS(U)) &kp N2 &kp N0 &kp A &kp C &kp SPACE>;
          };
          uc_pound: unicode_pound { // £
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings = <&macro_tap &kp LC(LS(U)) &kp N0 &kp N0 &kp A &kp N3 &kp SPACE>;
          };
          uc_ruble: unicode_ruble { // ₽
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings = <&macro_tap &kp LC(LS(U)) &kp N2 &kp N0 &kp B &kp D &kp SPACE>;
          };
          uc_rupee: unicode_rupee { // ₹
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings = <&macro_tap &kp LC(LS(U)) &kp N2 &kp N0 &kp B &kp N9 &kp SPACE>;
          };
          uc_yen: unicode_yen { // ¥
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings = <&macro_tap &kp LC(LS(U)) &kp N0 &kp N0 &kp A &kp N5 &kp SPACE>;
          };
          uc_m2: unicode_sqmeter { // m²
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings = <&macro_tap &kp M &kp LC(LS(U)) &kp N0 &kp N0 &kp B &kp N2 &kp SPACE>;
          };
          uc_m3: unicode_cubicmeter { // m³
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings = <&macro_tap &kp M &kp LC(LS(U)) &kp N0 &kp N0 &kp B &kp N3 &kp SPACE>;
          };
          uc_lguil: unicode_leftguillemet { // «
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings = <&macro_tap &kp LC(LS(U)) &kp N0 &kp N0 &kp A &kp B &kp SPACE>;
          };
          uc_rguil: unicode_rightguillemet { // »
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings = <&macro_tap &kp LC(LS(U)) &kp N0 &kp N0 &kp B &kp B &kp SPACE>;
          };
          uc_emdash: unicode_emdash { // —
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings = <&macro_tap &kp LC(LS(U)) &kp N2 &kp N0 &kp N1 &kp N4 &kp SPACE>;
          };
          uc_numero: unicode_numero { // №
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings = <&macro_tap &kp LC(LS(U)) &kp N2 &kp N1 &kp N1 &kp N6 &kp SPACE>;
          };
          uc_ellipsis: unicode_ellipsis { // …
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings = <&macro_tap &kp LC(LS(U)) &kp N2 &kp N0 &kp N2 &kp N6 &kp SPACE>;
          };
          uc_degree: unicode_degree { // °
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings = <&macro_tap &kp LC(LS(U)) &kp N0 &kp N0 &kp B &kp N0 &kp SPACE>;
          };
          uc_check: unicode_checkmark { // ✓
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings = <&macro_tap &kp LC(LS(U)) &kp N2 &kp N7 &kp N1 &kp N3 &kp SPACE>;
          };
          uc_xmark: unicode_xmark { // ✗
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings = <&macro_tap &kp LC(LS(U)) &kp N2 &kp N7 &kp N1 &kp N7 &kp SPACE>;
          };
          uc_star: unicode_star { // ★
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings = <&macro_tap &kp LC(LS(U)) &kp N2 &kp N6 &kp N0 &kp N5 &kp SPACE>;
          };
          uc_diamond: unicode_diamond { // ♦
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings = <&macro_tap &kp LC(LS(U)) &kp N2 &kp N6 &kp N6 &kp N6 &kp SPACE>;
          };

          // Toggle language with both Alts (for lock screen compatibility)
          toggle_lang: toggle_language {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings
              = <&macro_press &kp LALT &kp RALT>
              , <&macro_release &kp LALT &kp RALT>
              ;
          };

          // Modifier macros with EN/RU switch for Russian layer
          // On press: switch to EN, hold modifier
          // On release: release modifier, switch back to RU
          ctrl_en_ru: ctrl_english_russian {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings
              = <&macro_press &kp LCTRL>
              , <&macro_tap &kp LSHFT>
              , <&macro_release &kp LCTRL>
              , <&macro_press &kp LCTRL>
              , <&macro_pause_for_release>
              , <&macro_release &kp LCTRL>
              , <&macro_press &kp LALT>
              , <&macro_tap &kp LSHFT>
              , <&macro_release &kp LALT>
              ;
          };

          gui_en_ru: gui_english_russian {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings
              = <&macro_press &kp LCTRL>
              , <&macro_tap &kp LSHFT>
              , <&macro_release &kp LCTRL>
              , <&macro_press &kp LGUI>
              , <&macro_pause_for_release>
              , <&macro_release &kp LGUI>
              , <&macro_press &kp LALT>
              , <&macro_tap &kp LSHFT>
              , <&macro_release &kp LALT>
              ;
          };

          // Parameterized version for hold-tap (ignores parameter, just holds GUI with EN/RU)
          gui_en_ru_param: gui_english_russian_param {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings
              = <&macro_press &kp LCTRL>
              , <&macro_tap &kp LSHFT>
              , <&macro_release &kp LCTRL>
              , <&macro_press &kp LGUI>
              , <&macro_pause_for_release>
              , <&macro_release &kp LGUI>
              , <&macro_press &kp LALT>
              , <&macro_tap &kp LSHFT>
              , <&macro_release &kp LALT>
              ;
          };
        };

        keymap {
                compatible = "zmk,keymap";

// Layer order (higher number = higher priority):
// 0: default_layer (English)
// 1: russian_layer
// 2: russian_extra_layer
// 3: numpad_layer
// 4: symbols_layer
// 5: workspace_layer (with BT and media)
// 6: home_mod_left (hold left outer thumb)
// 7: home_mod_right (hold right outer thumb)

                default_layer {
// -----------------------------------------------------------------------------------------
// | TAB  |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U  |  I  |  O  |  P  | RU    |
// | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J  |  K  |  L  |  ;  | '/ALT |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M  |  ,  |  .  |  /  | SHFT  |
//                    |NPAD |L4/L0| RET |   | ESC | SPC |HYPER|
//                    | /WS |     |/SUP |   |/SUP |     | /WS |
// Top-right: &to_ru macro (switch to L1 + Alt+Shift for OS Russian)
// Right outer thumb: tap=sticky Hyper, hold=Workspace layer
                        bindings = <
   &kp TAB   &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U &kp I     &kp O   &kp P    &to_ru
   &kp LCTRL &kp A &kp S &kp D &kp F &kp G   &kp H &kp J &kp K     &kp L   &kp SEMI &mt LALT SQT
   &kp LSHFT &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M &kp COMMA &kp DOT &kp FSLH &kp RSHFT
               &ht_hm_to 6 3 &td_base 4 0 &lt 5 RET   &lt 5 ESC &kp SPACE &ht_hm_sk 7 LC(LS(LA(LGUI)))
                        >;
                };

                russian_layer {
// -----------------------------------------------------------------------------------------
// Russian ЙЦУКЕН - punctuation uses macros to switch OS temporarily
// CTRL and GUI switch to EN while held, back to RU on release
// |TAB/L2|  Й  |  Ц  |  У  |  К  |  Е  |   |  Н  |  Г  |  Ш  |  Щ  |  З  | L4    |
// |CTRL  |  Ф  |  Ы  |  В  |  А  |  П  |   |  Р  |  О  |  Л  |  Д  |  ;  | '/ALT |
// |SHFT  |  Я  |  Ч  |  С  |  М  |  И  |   |  Т  |  Ь  |  ,  |  .  |  /  | SHFT  |
//                    |NPAD |L4/EN|GUI/R|   |GUI/E| SPC |HYPER|
//                    | /WS |     |     |   |     |     | /WS |
// CTRL: switches to EN while held. GUI on thumbs: hold=GUI+EN/RU, tap=RET/ESC.
                        bindings = <
   &mo 2 &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp P    &mo 4
   &ctrl_en_ru &kp A &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K     &kp L   &mm_semi &ht_alt_sqt LALT 0
   &kp LSHFT &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M  &mm_comma &mm_dot &mm_fslh &kp RSHFT
                   &ht_hm_to 6 3 &ht_l4_en 4 0 &lt 5 RET   &lt 5 ESC &kp SPACE &ht_hm_sk 7 LC(LS(LA(LGUI)))
                        >;
                };

                russian_extra_layer {
// -----------------------------------------------------------------------------------------
// Extra Russian letters + symbols: Ж Э Б Ю Х Ъ Ё № … °
// |     |  …  |     |  №  |  °  |  Ё  |   |     |     |     |     |  Х  |     |
// |     |     |     |     |     |     |   |     |     |     |     |  Ж  |  Э  |
// |     |     |     |     |     |     |   |     |  Ъ  |  Б  |  Ю  |     |     |
//                   |     |     |     |   |     |     |     |
                        bindings = <
   &trans &uc_ellipsis &trans &uc_numero &uc_degree &kp GRAVE    &trans &trans &trans &trans &kp LBKT &trans
   &trans &trans &trans &trans &trans &trans       &trans &trans &trans &trans &kp SEMI &kp SQT
   &trans &trans &trans &trans &trans &trans       &trans &kp RBKT &kp COMMA &kp DOT &trans &trans
                        &trans &trans &trans    &trans &trans &trans
                        >;
                };

                numpad_layer {
// -----------------------------------------------------------------------------------------
// |LCLK |  ±  |  ≈  |  √  |  ≠  |  ∞  |   |  /  |  7  |  8  |  9  |  -  |  =  |
// |RCLK |  ≤  |  ∑  |  ∅  |  ∈  |  ≥  |   |  *  |  4  |  5  |  6  |  +  | RET |
// |LGUI |  ×  |  ÷  |  ₁  |  ²  |  ³  |   |  0  |  1  |  2  |  3  |  .  |  %  |
//                   |     |     |     |   |     |     |     |
                        bindings = <
   &mkp LCLK &uc_pm &uc_approx &uc_sqrt &uc_neq &uc_inf    &kp FSLH &kp N7 &kp N8   &kp N9 &kp MINUS &kp EQUAL
   &mkp RCLK &uc_leq &uc_sum &uc_empty &uc_elem &uc_geq    &kp STAR &kp N4 &kp N5   &kp N6 &kp PLUS  &kp RET
   &kp LGUI &uc_mul &uc_div &uc_sub1 &uc_sup2 &uc_sup3    &kp N0   &kp N1 &kp N2   &kp N3 &kp DOT   &kp PRCNT
                        &trans &trans &trans    &trans   &trans &trans
                        >;
                };

                symbols_layer {
// -----------------------------------------------------------------------------------------
// |  ✓   |  !  |  @  |  #  |  $  |    %     |   |  ^  |  &  |  *  |  (  |  )  |   \   |
// |  ✗   |  €  |  £  |  ₽  |  ₹  |    ¥     |   |  -  |  =  |  `  |  [  |  ]  |  "|"  |
// |  ★   |  m² |  m³ |  «  |  »  |    —     |   |  _  |  +  |  ~  |  {  |  }  |   ♦   |
//                     |     |     |         |   |             |      |    |
                        bindings = <
   &uc_check &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT       &kp CARET  &kp AMPS  &kp KP_MULTIPLY &kp LPAR &kp RPAR &kp BSLH
   &uc_xmark &uc_euro &uc_pound &uc_ruble &uc_rupee &uc_yen   &kp MINUS  &kp EQUAL &kp GRAVE       &kp LBKT &kp RBKT &kp PIPE
   &uc_star  &uc_m2   &uc_m3 &uc_lguil &uc_rguil &uc_emdash   &kp UNDER  &kp PLUS  &kp TILDE       &kp LBRC &kp RBRC &uc_diamond
                         &trans &trans  &trans     &trans &kp BSPC  &trans
                        >;
                };

                workspace_layer {
// -----------------------------------------------------------------------------------------
// |CPWRD|  1   |  2  |  3  |  4  |  5  |   |  6   |  7   |  8   |  9   |  0   |PSCRN|
// |CTRL | Prev | Next|Vol- |Vol+ |Play |   | INS  | Home |  UP  | End  | PgUp |RET/A|
// |SHFT |BTCLR | BT1 | BT2 | BT3 | BT4 |   | DEL  | LEFT | DOWN | RGHT | PgDn |SHFT |
//                    |     | L0  |     |   |      | BKSP |      |
                        bindings = <
   &caps_word &kp N1       &kp N2       &kp N3       &kp N4       &kp N5         &kp N6    &kp N7   &kp N8   &kp N9    &kp N0    &kp PSCRN
   &kp LCTRL  &kp C_PREV   &kp C_NEXT   &kp C_VOL_DN &kp C_VOL_UP &kp C_PP       &kp INS   &kp HOME &kp UP   &kp END   &kp PG_UP &mt LALT RET
   &kp LSHFT  &bt BT_CLR   &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3   &kp DEL   &kp LEFT &kp DOWN &kp RIGHT &kp PG_DN &kp RSHFT
                        &trans &to 0 &trans    &trans   &kp BSPC   &trans
                        >;
                };

                home_mod_left {
// -----------------------------------------------------------------------------------------
// Home row mods on left side (activated by holding left outer thumb)
// |     |     |     |     |     |     |   |     |     |     |     |     |     |
// |     |     | ALT |SHIFT| GUI |     |   |     |     |     |     |     |     |
// |     |     |     |     |     |     |   |     |     |     |     |     |     |
//                   |     |     |LANG |   |     |     | WS  |
                        bindings = <
   &trans &trans &trans   &trans    &trans   &trans    &trans &trans &trans &trans &trans &trans
   &trans &trans &kp LALT &kp LSHFT &kp LGUI &trans    &trans &trans &trans &trans &trans &trans
   &trans &trans &trans   &trans    &trans   &trans    &trans &trans &trans &trans &trans &trans
                        &trans &trans &toggle_lang    &trans &trans &to 5
                        >;
                };

                home_mod_right {
// -----------------------------------------------------------------------------------------
// Home row mods on right side (activated by holding right outer thumb)
// |     |     |     |     |     |     |   |     |     |     |     |     |     |
// |     |     |     |     |     |     |   |     | GUI |SHIFT| ALT |     |     |
// |     |     |     |     |     |     |   |     |     |     |     |     |     |
//                   | WS  |     |     |   |     |     |     |
                        bindings = <
   &trans &trans &trans &trans &trans &trans    &trans &trans   &trans    &trans   &trans &trans
   &trans &trans &trans &trans &trans &trans    &trans &kp RGUI &kp RSHFT &kp RALT &trans &trans
   &trans &trans &trans &trans &trans &trans    &trans &trans   &trans    &trans   &trans &trans
                        &to 5 &trans &trans    &trans &trans &trans
                        >;
                };
        };

};
